body {
	font-size: x-large
}

.Phonetique {
	color: #7958a3;
}

.CatgramDefinition, .CategorieGrammaticale, .indicateurDefinition,
	.IndicateurLocution, .InfoAuteurCitation, .InfoCitation, .LienAdresse,
	.OrigineDefinition {
	color: #e02d43;
}

 .Locution2, .Renvois,  .RenvoisVoiraussi,   .RenvoisVoiraussi {
    color: #5a348b;
}

.Traduction2 {
    color: black;
    font-weight: normal;
}

.Traduction .lienarticle2 {
    font-weight: bold;
    color: black;
}

.IndicateurDomaine {
    color: #016a18;
    font-variant: small-caps;
}


.Commentaire, .FormeFlechie1, .Genre {
    color: #016a18;
    font-style: italic;
    font-weight: normal;
}

.Indicateur, .Indicateur2 {
    color: #016a18;
    font-weight: normal;
}
